/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #2b2a29;
    --font_size: 16px;
    --font_size_title: 36px;
    --font_family: 'Montserrat', 'Arial', sans-serif;
    --font_family2: 'Cormorant SC', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #5aa5b4;
}

::-moz-selection
{
    color: #fff;

    background: #5aa5b4;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #5aa5b4;
}

html.custom_scroll
{
    scrollbar-color: #5aa5b4 #ccc;
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
}

.cont.min_w
{
    max-width: 1486px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .9;
    background: #000;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0,0,0,.9);
}


.fancybox__slide
{
    padding: 0;
}



/*--------------
    All link
--------------*/
.all_link
{
    margin-top: 83px;

    text-align: center;
}


.all_link a
{
    color: #5aa5b4;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    display: inline-block;

    padding: 20px 103px;

    transition: .2s linear;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid #5aa5b4;
}

.all_link a.min_pad
{
    padding: 20px 74px;
}

.all_link a:hover
{
    color: #fff;

    background: #5aa5b4;
}



/*----------------
    Mini modal
----------------*/
.modal_cont
{
    position: relative;
}


.mini_modal
{
    position: absolute;
    z-index: 100;
    top: calc(100% + 30px);
    left: 0;

    visibility: hidden;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
}

.mini_modal.active
{
    top: 100%;

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 101;
    top: 0;
    left: 0;

    width: 100%;
    padding: 22px 0;
}


header.absolute
{
    color: #fff;

    position: absolute;
}


header .row
{
    align-items: center;
    align-content: center;
}



header .logo,
header .logo img
{
    color: currentColor;

    display: block;

    width: 64px;

    text-decoration: none;
}



header .menu
{
    margin-left: 75px;
}


header .menu .item + .item
{
    margin-left: 40px;
}


header .menu .item > a
{
    color: currentColor;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    display: block;

    transition: color .2s linear;
    text-decoration: none;
    text-transform: uppercase;
}


header .menu .item > a:hover,
header .menu .item > a.active
{
    color: #5aa5b4;
}



header .langs
{
    color: currentColor;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    display: flex;

    margin-left: auto;

    text-transform: uppercase;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


header .langs > * + *
{
    margin-left: 24px;
}


header .langs a
{
    color: currentColor;

    transition: color .2s linear;
    white-space: nowrap;
    text-decoration: none;
}

header .langs a:hover,
header .langs a.active
{
    color: #5aa5b4;
}



header .socials
{
    position: relative;
    right: 0;
    bottom: 0;

    display: none;

    width: 100%;
    margin-top: 56px;

    justify-content: center;
}

header .socials a + a
{
    margin-left: 32px;
}



/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    position: relative;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    padding: 20px 0;
}

.menu_open .mob_header
{
    color: #fff;
}

.mob_header.absolute
{
    color: #fff;

    position: absolute;
}


.mob_header .cont
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



.mob_header .logo
{
    color: currentColor;

    display: block;

    margin-right: auto;

    text-decoration: none;
}

.mob_header .logo img
{
    display: block;

    width: 28px;
}

.mob_header .logo img + img,
.menu_open .mob_header:not(.absolute) .logo img
{
    display: none;
}

.menu_open .mob_header:not(.absolute) .logo img + img
{
    display: block;
}



.mob_header .mob_menu_btn
{
    display: flex;

    width: 24px;
    height: 24px;
    margin-left: auto;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_header .mob_menu_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.mob_header .mob_menu_btn .icon + .icon,
.mob_header .mob_menu_btn.active .icon
{
    display: none;
}

.mob_header .mob_menu_btn.active .icon + .icon
{
    display: block;
}



/*----------------
    Block head
----------------*/
.block_head
{
    display: flex;

    width: 100%;
    margin-bottom: 40px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: calc(var(--font_size_title) + 6px);

    display: block;
}


.block_head .desc
{
    width: 100%;
    max-width: 100%;
    margin-top: 12px;
}


.block_head.center
{
    text-align: center;

    justify-content: center;
}

.block_head.center .title
{
    width: 100%;
}

.block_head.center .desc
{
    margin-right: auto;
    margin-left: auto;
}



/*----------------
    Typography
----------------*/
.text_block
{
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
}


.text_block > *
{
    margin-bottom: 40px;
}


.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}


.text_block h2
{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

    margin-bottom: 32px;
}


.text_block img
{
    display: block;

    max-width: 100%;
}

.text_block img.loaded
{
    height: auto !important;
}



/*----------------
    Home block
----------------*/
.home_block
{
    position: relative;
    z-index: 3;

    background: #333;
}

.home_block:after
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .4);
}


.home_block .cont
{
    display: flex;

    height: 100vh;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.home_block .img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.home_block .title
{
    color: #fff;
    font-family: var(--font_family2);
    font-size: 108px;
    line-height: 104px;

    position: relative;
    z-index: 3;

    margin-bottom: 46px;

    text-transform: uppercase;
}



/*------------------
    Next concert
------------------*/
.next_concert
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
}


.next_concert .btn
{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    display: flex;

    width: 482px;
    height: 80px;

    transition: transform .3s linear;
    text-transform: uppercase;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.next_concert .btn .icon
{
    display: block;

    width: 34px;
    height: 34px;
    margin-left: 8px;
}


.next_concert .concert
{
    color: #fff;

    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    width: 522px;
    padding: 24px 156px 35px 64px;

    transition: transform .3s linear;
    transform: translateY(100%);

    background: #5aa5b4;
}


.next_concert .concert .name
{
    line-height: 20px;

    text-transform: uppercase;
}


.next_concert .concert .place
{
    font-weight: 300;
    line-height: 20px;

    margin-top: 6px;

    text-transform: uppercase;
}


.next_concert .concert .date
{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;

    display: flex;

    margin-top: 22px;

    text-transform: uppercase;

    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}


.next_concert .concert .day
{
    font-size: 48px;
    line-height: 100%;

    margin-right: 8px;
    margin-bottom: -2px;
}


.next_concert .concert .time
{
    margin-left: 24px;
}

.next_concert .concert .location
{
    font-weight: bold;
    line-height: 20px;

    margin-top: 2px;

    text-transform: uppercase;
}


.next_concert .concert .link
{
    color: var(--text_color);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    position: absolute;
    top: 0;
    left: 100%;

    overflow: hidden;

    width: 82px;
    height: 100%;

    transition: width .3s linear;
    text-decoration: none;
    text-transform: uppercase;

    background: #fff;
}

.next_concert .concert .link span
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 41px;

    display: block;

    height: 22px;
    margin: auto;

    transition: opacity .2s linear;
    pointer-events: none;

    opacity: 0;
}

.next_concert .concert .link .icon
{
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;

    display: block;

    width: 34px;
    height: 34px;
    margin: auto;

    transform: rotate(90deg);
}


.next_concert .concert .link:hover
{
    width: 228px;
}

.next_concert .concert .link:hover span
{
    transition: opacity .2s linear .2s;

    opacity: 1;
}


.next_concert.show .btn
{
    transform: translateY(100%);
}

.next_concert.show .concert
{
    transform: translateY(0);
}



/*-------------
    Socials
-------------*/
.socials
{
    position: absolute;
    z-index: 3;
    right: 64px;
    bottom: 20px;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.socials a
{
    color: var(--text_color);

    display: flex;

    width: 60px;
    height: 60px;

    transition: .2s linear;
    text-decoration: none;

    border-radius: 50%;
    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.socials a + a
{
    margin-left: 32px;
}


.socials .icon
{
    display: block;

    width: 30px;
    height: 30px;
}

.socials .facebook_link .icon
{
    width: 12px;
    height: 24px;
}


.socials a:hover
{
    color: #fff !important;

    background: #5aa5b4 !important;
}



/*----------------
    About info
----------------*/
.about_info
{
    margin-bottom: 136px;
    padding-top: 64px;
}


.about_info .data
{
    position: relative;
    z-index: 3;

    width: 876px;
    height: 773px;
    margin: 0 auto;
}


.about_info .img
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.about_info .mob_img
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.about_info .name
{
    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    line-height: calc(100% + 8px);

    position: absolute;
    z-index: 3;
    top: 63px;
    left: 50%;

    margin-left: 20px;

    text-transform: uppercase;
}

.about_info .name > * + *
{
    margin-top: 13px;
    margin-left: 87px;
}


.about_info .quote
{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    position: absolute;
    z-index: 3;

    white-space: nowrap;

    opacity: .5;
}

.about_info .quote1
{
    top: 285px;
    left: 53px;
}

.about_info .quote2
{
    top: 377px;
    left: 498px;
}

.about_info .quote3
{
    top: 680px;
    left: 418px;
}


.about_info .quote .author
{
    font-size: 14px;
    line-height: 17px;

    margin-top: 16px;
}

.about_info .quote1 .author
{
    margin-left: 68px;
}

.about_info .quote2 .author
{
    margin-left: 190px;
}

.about_info .quote3 .author
{
    margin-left: 49px;
}



/*----------------
    Info block
----------------*/
.info_block
{
    margin-bottom: 128px;
}


.info_block > * + *
{
    margin-top: 40px;
}


.info_block .title
{
    color: #5aa5b4;
    font-size: var(--font_size_title);
    font-weight: 600;
    line-height: 110%;

    width: 723px;
    max-width: 100%;

    border-top: 2px solid var(--text_color);
}

.info_block .title div
{
    display: flex;

    height: 632px;
    padding-left: 116px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.info_block .title div + div
{
    margin-top: 40px;
}

.info_block .title span
{
    display: block;

    margin-left: 208px;
}


.info_block .text_block
{
    width: calc(100% - 763px);
    margin-left: auto;
}


.info_block .image
{
    display: block;

    width: 100%;
}



/*-------------------
    About gallery
-------------------*/
.about_gallery
{
    margin-bottom: 122px;
}


.about_gallery .row
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.about_gallery .item
{
    color: var(--text_color);

    display: block;

    text-decoration: none;
}


.about_gallery .thumb
{
    position: relative;

    overflow: hidden;

    width: 265px;
    height: 398px;

    background: #ddd;
}

.about_gallery .big .thumb
{
    width: 418px;
    height: 630px;
}

.about_gallery .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



/*-------------------
    Concerts head
-------------------*/
.concerts_head
{
    position: relative;

    margin-bottom: 96px;
}


.concerts_head .image
{
    position: relative;

    overflow: hidden;

    height: 680px;

    background: #010101;
}

.concerts_head .image img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.concerts_head .data
{
    color: #fff;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 635px;
    max-width: 100%;
    padding: 48px 64px;

    background: #5aa5b4;
}


.concerts_head .data .title
{
    font-size: 72px;
    font-weight: 500;
    line-height: 88px;

    text-transform: uppercase;
}

.concerts_head .data .title small
{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    display: block;

    margin-top: 8px;
}


.concerts_head .data .link
{
    color: currentColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    display: flex;

    margin-top: 79px;

    text-decoration: none;
    text-transform: uppercase;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.concerts_head .data .link .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.concerts_head .data .link .icon + .icon,
.concerts_head .data .link:hover .icon
{
    display: none;
}

.concerts_head .data .link:hover .icon + .icon
{
    display: block;
}


.concerts_head .sort
{
    width: 1182px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80px;

    justify-content: flex-end;
}


.concerts_head .sort .btn
{
    color: #5aa5b4;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;

    position: relative;

    padding-right: 22px;

    text-transform: uppercase;
}

.concerts_head .sort .btn:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;

    width: 14px;
    height: 11px;
    margin: auto;

    content: '';

    border-top: 11px solid #5aa5b4;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.concerts_head .sort .btn span
{
    color: var(--bg);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5aa5b4;
}


.concerts_head .sort .mini_modal
{
    right: -37px;
    left: auto;

    min-width: 180px;
    padding: 16px 52px;

    border: 1px solid #e4e4e4;
    background: #f5f5f5;
}

.concerts_head .sort .mini_modal > * + *
{
    margin-top: 16px;
}

.concerts_head .sort .mini_modal a
{
    color: #5aa5b4;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;

    display: block;

    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}



/*--------------
    Concerts
--------------*/
.concerts
{
    margin-bottom: 128px;
}


.concerts .list
{
    width: 1182px;
    max-width: 100%;
    margin: 0 auto;
}

.concerts .list > * + *
{
    margin-top: 96px;
}


.concerts .concert_wrap
{
    position: relative;

    padding: 83px 0 0 82px;
}


.concerts .concert
{
    display: flex;

    background: #fff;
    box-shadow: 0 4px 29px rgba(0, 0, 0, .13);

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}


.concerts .concert .date
{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 166px;
    height: 166px;

    text-align: center;
    text-transform: uppercase;

    border-radius: 50%;
    background: #5aa5b4;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.concerts .concert .date > *
{
    width: 100%;
}

.concerts .concert .date .day
{
    font-size: 72px;
    line-height: 88px;

    margin-bottom: -10px;
}

.concerts .concert .date .time
{
    font-weight: 600;

    margin-top: 8px;
}


.concerts .concert .info
{
    position: relative;

    width: calc(100% - 416px);
    padding: 57px 40px 64px 114px;
}


.concerts .concert .name
{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;

    text-transform: uppercase;
}

.concerts .concert .name a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


.concerts .concert .location
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-top: 16px;

    text-transform: uppercase;
}

.concerts .concert .location b
{
    font-weight: 600;
}


.concerts .concert .desc
{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    margin-top: 29px;

    text-transform: uppercase;
}


.concerts .concert .link
{
    color: var(--text_color);
    font-size: 24px;
    line-height: 29px;

    display: flex;

    width: 228px;
    max-width: 100%;
    margin-top: 40px;
    padding-top: 31px;

    transition: color .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    border-top: 1px solid;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.concerts .concert .link .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.concerts .concert .link:hover
{
    color: #5aa5b4;
}


.concerts .concert .year
{
    position: absolute;
    right: 24px;
    bottom: 64px;

    display: block;

    pointer-events: none;

    opacity: .2;
}


.concerts .concert .thumb
{
    color: var(--text_color);

    position: relative;

    display: block;
    overflow: hidden;

    width: 416px;
    max-width: 100%;

    text-decoration: none;

    background: #ddd;
}

.concerts .concert .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



/*-------------------
    Photo gallery
-------------------*/
.photo_gallery
{
    margin-bottom: 128px;
    padding-top: 80px;
}


.photo_gallery .links
{
    display: flex;

    margin-left: -72px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.photo_gallery .links > *
{
    margin-bottom: 24px;
    margin-left: 72px;
}


.photo_gallery .links a
{
    color: var(--text_color);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    transition: color .2s linear;
    text-decoration: none;
    text-transform: uppercase;
}

.photo_gallery .links a:hover,
.photo_gallery .links a.active
{
    color: #5aa5b4;
}


.photo_gallery .grid
{
    display: grid;

    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.photo_gallery .grid > *
{
    transform: translateZ(0deg);
}


.photo_gallery .grid > *:nth-child(1)
{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.photo_gallery .grid > *:nth-child(10)
{
    grid-row: 3 / 5;
    grid-column: 3 / 5;
}

.photo_gallery .grid > *:nth-child(13)
{
    grid-row: 5 / 7;
    grid-column: 2 / 4;
}

.photo_gallery .grid > *:nth-child(16)
{
    grid-row: 7 / 9;
    grid-column: 1 / 3;
}

.photo_gallery .grid > *:nth-child(21)
{
    grid-row: 9 / 11;
    grid-column: 3 / 5;
}

.photo_gallery .grid > *:nth-child(1) .thumb,
.photo_gallery .grid > *:nth-child(10) .thumb,
.photo_gallery .grid > *:nth-child(13) .thumb,
.photo_gallery .grid > *:nth-child(16) .thumb,
.photo_gallery .grid > *:nth-child(21) .thumb
{
    height: 906px;
}


.photo_gallery .item
{
    color: var(--text_color);

    display: block;

    text-decoration: none;
}


.photo_gallery .item .thumb
{
    position: relative;

    overflow: hidden;

    height: 433px;

    transition: transform .2s linear;

    background: #ddd;
}

.photo_gallery .item .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.photo_gallery .item .thumb:hover
{
    transform: scale(1.08);
}



/*-------------------
    Video gallery
-------------------*/
.video_gallery
{
    margin-bottom: 128px;
    padding-top: 56px;
}


.video_gallery .row
{
    margin-bottom: -56px;
    margin-left: -40px;
}

.video_gallery .row > *
{
    width: calc(33.333% - 40px);
    margin-bottom: 56px;
    margin-left: 40px;
}


.video_gallery .thumb
{
    color: var(--text_color);

    position: relative;

    display: block;
    overflow: hidden;

    padding-bottom: 75.09%;

    text-decoration: none;

    background: #ddd;
}

.video_gallery .thumb:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 16px;

    content: '';
    transition: width .3s linear;

    background: #5aa5b4;
}

.video_gallery .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.video_gallery .name
{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    margin-top: 16px;
}

.video_gallery .name a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


.video_gallery .desc
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-top: 16px;
}


.video_gallery .item:hover .thumb:after
{
    width: 100%;
}



/*--------------
    Articles
--------------*/
.articles
{
    margin-bottom: 128px;
    padding-top: 56px;
}


.articles .section + .section
{
    margin-top: 96px;
}


.articles .block_title
{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

    margin-bottom: 32px;
}


.articles .row
{
    margin-bottom: -78px;
    margin-left: -40px;
}

.articles .row > *
{
    width: calc(33.333% - 40px);
    margin-bottom: 78px;
    margin-left: 40px;
}


.articles .article
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.articles .thumb
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    padding-bottom: 75.09%;

    background: #ddd;
}

.articles .thumb:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 16px;

    content: '';
    transition: width .3s linear;

    background: #5aa5b4;
}

.articles .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.articles .article:hover .thumb:after
{
    width: 100%;
}


.articles .name
{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    width: 100%;
    margin-top: 16px;
}

.articles .name a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


.articles .source
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-top: 24px;
}


.articles .date
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    display: flex;

    margin-top: 24px;
    margin-left: 40px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.articles .date .icon
{
    display: block;

    width: 16px;
    height: 16px;
    margin-right: 4px;
}



.articles .grid
{
    overflow: hidden;

    margin-bottom: -40px;
    margin-left: -40px;
}

.articles .grid > *
{
    color: #fff;

    position: relative;

    float: left;

    width: 723px;
    max-width: 100%;
    margin-bottom: 40px;
    margin-left: 40px;
}


.articles .grid .thumb
{
    padding-bottom: 381px;
}

.articles .grid .thumb:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .5);
}


.articles .grid .info
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    width: 480px;
    max-width: 100%;
    padding: 40px 24px;

    pointer-events: none;
}

.articles .grid .source
{
    margin-top: 0;
}

.articles .grid .date
{
    margin-left: 0;
}


.articles .grid > *.big
{
    width: calc(100% - 803px);
}

.articles .grid > *.big .thumb
{
    padding-bottom: 801px;
}

.articles .grid > *.big .info
{
    width: 777px;
    padding: 40px;
}

.articles .grid > *.big .name
{
    font-size: 24px;
    line-height: 36px;
}



/*------------------
    Article info
------------------*/
.article_info
{
    margin-bottom: 128px;
    padding-top: 56px;
}


.article_info .cont
{
    position: relative;
}


.article_info .data
{
    width: 1182px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.article_info .back_link
{
    color: var(--text_color);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    position: absolute;
    top: 0;
    left: 64px;

    display: flex;

    transition: color .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.article_info .back_link .icon
{
    position: relative;
    top: -1px;

    display: block;

    width: 33px;
    height: 8px;
    margin-right: 8px;
}

.article_info .back_link:hover
{
    color: #5aa5b4;
}


.article_info .source
{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    margin-bottom: 26px;
}


.article_info .bottom
{
    display: flex;

    margin-top: 40px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.article_info .date
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.article_info .date .icon
{
    display: block;

    width: 16px;
    height: 16px;
    margin-right: 4px;
}


.article_info .source_link
{
    color: #5aa5b4;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-left: 40px;
}

.article_info .source_link a
{
    color: currentColor;

    text-decoration: none;
}


.article_info .author
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-left: auto;
}



/*----------------
    Error info
----------------*/
.error_info
{
    display: flex;

    padding: 176px 0 274px;

    text-align: center;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
}


.error_info .code img
{
    display: block;

    max-width: 75%;
    margin: 0 auto;
}


.error_info .title
{
    font-size: 48px;
    font-weight: 500;
    line-height: calc(100% + 11px);

    margin-top: 56px;

    text-transform: uppercase;
}


.error_info .link
{
    margin-top: 56px;
}

.error_info .link a
{
    color: #5aa5b4;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    display: inline-block;

    padding: 20px 48px;

    transition: .2s linear;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid #5aa5b4;
}

.error_info .link a:hover
{
    color: #fff;

    background: #5aa5b4;
}



/*-------------------
    Contacts info
-------------------*/
.contacts_info
{
    margin-bottom: 128px;
    padding-top: 56px;
}


.contacts_info .col_left
{
    width: 763px;
    max-width: 100%;
}


.contacts_info .col_right
{
    width: 916px;
    max-width: 100%;
    margin-left: auto;
    padding-top: 72px;
}


.contacts_info .image
{
    position: relative;

    overflow: hidden;

    padding-bottom: 104.85%;

    background: #ddd;
}

.contacts_info .image img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



.contacts_info .socials
{
    position: relative;
    right: 0;
    bottom: 0;

    margin-top: 32px;

    justify-content: center;
}


.contacts_info .socials a
{
    color: #fff;

    width: 48px;
    height: 48px;

    background: var(--text_color);
}

.contacts_info .socials a + a
{
    margin-left: 38px;
}

.contacts_info .socials .icon
{
    width: 24px;
    height: 24px;
}

.contacts_info .socials .facebook_link .icon
{
    width: 10px;
    height: 20px;
}


.contacts_info .title
{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    margin-bottom: 32px;
}


.contacts_info .items
{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;

    column-gap: 24px;
    column-count: 2;
}

.contacts_info .items > *
{
    transform: translateZ(0);

    --webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.contacts_info .items > * + *
{
    margin-top: 36px;
}


.contacts_info .location
{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    margin-bottom: 16px;
}


.contacts_info .items a
{
    color: #5aa5b4;

    white-space: nowrap;
    text-decoration: none;
}



/*------------
    Footer
------------*/
footer
{
    padding: 39px 0 32px;

    border-top: 1px solid rgba(43, 42, 41, .2);
}


footer .cont
{
    justify-content: space-between;
}

footer .cont + .cont
{
    margin-top: 48px;
}



footer .logo img
{
    display: block;

    width: 112px;
}



footer .links
{
    margin-left: 153px;

    column-gap: 80px;
    column-count: 2;
}

footer .links > *
{
    transform: translateZ(0);

    --webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

footer .links > * + *
{
    margin-top: 24px;
}

footer .links a
{
    color: var(--text_color);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    display: inline-block;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
}

footer .links a:hover,
footer .links a.active
{
    color: #5aa5b4;
}



footer .socials
{
    position: relative;
    right: 0;
    bottom: 0;

    margin-left: auto;
}


footer .socials a
{
    color: #fff;

    width: 48px;
    height: 48px;

    background: var(--text_color);
}

footer .socials a + a
{
    margin-left: 38px;
}

footer .socials .icon
{
    width: 24px;
    height: 24px;
}

footer .socials .facebook_link .icon
{
    width: 10px;
    height: 20px;
}



footer .copyright
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-left: 265px;
}



footer .creator
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-left: auto;
}

footer .creator a
{
    color: #5aa5b4;

    text-decoration: none;
}



/*-----------
    PopUp
-----------*/
.modal
{
    display: none;
    visibility: visible !important;
    overflow-x: hidden;
    overflow-y: auto;

    max-width: 100%;
    padding: 40px;

    background: none;
    box-shadow: none;
}



#gallery_modal
{
    width: 100%;
    max-width: 100%;
}


#gallery_modal .swiper-container
{
    overflow: visible !important;

    width: 1182px;
    max-width: 100%;
}

#gallery_modal .swiper-container .slide
{
    display: flex;
    visibility: hidden;

    height: auto;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#gallery_modal .swiper-container .slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


#gallery_modal .carousel__button.is-close
{
    display: none !important;
}


#gallery_modal .image
{
    position: relative;

    overflow: hidden;

    width: 100%;
    padding-bottom: 54.23%;

    background: #ddd;
}

#gallery_modal .image img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


#gallery_modal .data
{
    display: flex;

    width: 925px;
    max-width: 100%;
    margin: 40px auto 0;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


#gallery_modal .data
{
    color: #fff;
}


#gallery_modal .title
{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

    width: 100%;

    text-transform: uppercase;
}

#gallery_modal .desc,
#gallery_modal .year,
#gallery_modal .author
{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    margin-top: 24px;
}

#gallery_modal .desc
{
    width: 571px;
    max-width: 100%;
}

#gallery_modal .year,
#gallery_modal .author
{
    margin-top: 48px;
}

#gallery_modal .author
{
    margin-left: 40px;
}


#gallery_modal .row
{
    width: 100%;
}


#gallery_modal .download_link
{
    display: flex;

    margin-top: 24px;
}

#gallery_modal .download_link a
{
    color: currentColor;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    display: flex;

    padding: 13px 23px;

    transition: .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid;
    outline: none;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#gallery_modal .download_link .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-left: 8px;
}

#gallery_modal .download_link a:hover
{
    border-color: #5aa5b4;
    background: #5aa5b4;
}



#gallery_modal .image.vertical
{
    width: 571px;
    max-width: 100%;
    padding-bottom: 786px;
}

#gallery_modal .image.vertical + .data
{
    width: 382px;
    max-width: 100%;
    margin: 0 auto;
}

#gallery_modal .image.vertical + .data .desc
{
    margin-top: 32px;
}

#gallery_modal .image.vertical + .data .year,
#gallery_modal .image.vertical + .data .author
{
    margin-top: 32px;
}

#gallery_modal .image.vertical + .data .download_link
{
    width: 100%;
    margin-top: 32px;

    order: 3;
}
